<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<div th:include="includes/head.html"></div>

  <body>
 	
  <!-- Pre-loader start -->	
  <div th:include="includes/theme-loader.html"></div>
  
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
		
		<div th:include="includes/navbar.html"></div>

          <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
				
				<div th:include="includes/navbarmainmenu.html"></div>
				
                  <div class="pcoded-content">
                      <!-- Page-header start -->
                      	<div th:include="includes/pageheader.html"></div>
                      <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
										<h4>Lucros mensais</h4>
											<div class="card">
												<div class="card-block">
													<h4 class="sub-title">Selecione o mês</h4>
														
														<div class="form-group form-default">
															 <select id="months" class="form-control">
																<option value="0">Janeiro</option>
																<option value="1">Fevereiro</option>
																<option value="2">Março</option>
																<option value="3">Abril</option>
																<option value="4">Maio</option>
																<option value="5">Junho</option>
																<option value="6">Julho</option>
																<option value="7">Agosto</option>
																<option value="8">Setembro</option>
																<option value="9">Outubro</option>
																<option value="10">Novembro</option>
																<option value="11">Dezembro</option>
															</select>
														</div>
														<button class="btn btn-primary waves-effect waves-light" onclick="montlhyProfits()">Buscar</button>
												
													<div style="margin-top:20px;">
													    <div id="divTable" style="display:none;">
															<table class="table" id="tableResults">
																<thead>
																	<tr>
																	  <th>Data</th>
																	  <th>Total</th>
																    </tr>
																</thead>
																<tbody>
																</tbody>
															</table>
													    </div>
													    
													    <div id="divMsg">
															<span id="msg"></span>
													    </div>
													</div>    
												</div>
											</div>
                                	</div>
                               </div>
                               <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:include="includes/jsfile.html"></div>
    
    <script type="text/javascript">
    
    	function montlhyProfits() {
    		var month = $('#months option:selected').val();
    		var monthName = $('#months option:selected').text();
    		
    		$.ajax({
    			method: "get",
    			url: "montlhyProfits",
    			data: "month=" + month,
    			success: function(result) {
					
    			  $('#tableResults > tbody > tr').remove();
    				
    			  if(result.length > 0) {
    				  $('#divTable').show();  
	    			  $('#divMsg').hide();	  
    				  
	    			  var total = 0;
	      			
	      			  for(i=0; i < result.length; i++) {
	      					$('#tableResults > tbody').append('<tr> <td> ' + formatDateBD(result[i].date) + ' </td>' 
	      													+ '		<td> R$' + result[i].totalValue + '</td>'
	      													+ '</tr>');
	      					total += result[i].totalValue;
	      			  }
	      				
	      			 $('#tableResults > tbody').append('<tr><td>Valor Total:</td><td>R$' + total + '</td></tr>');  
    			  }	else {
    				 $('#divTable').hide(); 
    				 $('#divMsg').show();
    				 $('#msg').text('Não há histórico de lucros no mês de '+ monthName);
    			  }
    				
    				
    				
    			} 
    				
    			}).fail(function(xhr, status, errorThrown){
    				alert("Error: " + xhr.responseText);
    			});
    		
    	}
    	
	    function formatDateBD(date) {
			var regex = /Date\((\d+)([-+]\d{4})?\)/;
			var match = regex.exec('/Date(' + date + ')/').slice(1, 3);
			var dateFormated = new Date(parseInt(match[0]));
	
			var year = dateFormated.getFullYear();
			var month = dateFormated.getMonth();
			var day = dateFormated.getDate();
	
			if (day < 10) {
				day = '0' + day;
			}
			if (month < 10) {
				month = '0' + (month + 1);
				if (month == '010') {
					month = '10';
				}
	
			}
			return day + '/' + month + '/' + year;
		}
    	
    </script>
    
</body>
</html>