<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<div th:include="includes/head.html"></div>

  <body>
 	
  <!-- Pre-loader start -->	
  <div th:include="includes/theme-loader.html"></div>
  
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
		
		<div th:include="includes/navbar.html"></div>

          <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
				
				<div th:include="includes/navbarmainmenu.html"></div>
				
                  <div class="pcoded-content">
                      <!-- Page-header start -->
                      	<div th:include="includes/pageheader.html"></div>
                      <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
										<h4>Lucros mensais</h4>
											<div class="card">
												<div class="card-block">
													<h4 class="sub-title">Selecione o mês</h4>
														
														<div class="form-row">
														  <div class="column">
															 <select id="months" class="form-control" onchange="changeMonth(this)">
																<option selected disabled>------- Opções -------</option>
																<option value="01">Janeiro</option>
																<option value="02">Fevereiro</option>
																<option value="03">Março</option>
																<option value="04">Abril</option>
																<option value="05">Maio</option>
																<option value="06">Junho</option>
																<option value="07">Julho</option>
																<option value="08">Agosto</option>
																<option value="09">Setembro</option>
																<option value="10">Outubro</option>
																<option value="11">Novembro</option>
																<option value="12">Dezembro</option>
															</select>
														  </div>
														</div>
														
														<div style="margin-top:20px;">
														    <div id="divTable" style="display:none;">
																<table class="table" id="tableResults">
																	<thead>
																		<tr>
																		  <th>Data</th>
																		  <th>Total</th>
																	    </tr>
																	</thead>
																	<tbody>
																		
																	</tbody>
																</table>
														    </div>
														    <div id="divMsg">
														    	<span></span>
														    </div>
														</div>   

												</div>
											</div>
                                	</div>
                               </div>
                               <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:include="includes/jsfile.html"></div>
    
    <script type="text/javascript">
    
    	function changeMonth(month) {
    		$.ajax({
				method: "get",
				url: "montlhyProfits",
				data: "month=" + month.value,
				success: function(json) {
					
					let myMap = new Map(Object.entries(json));
					
					$('#tableResults > tbody > tr').remove();
					
					if(myMap.size > 0) {
						$('#divTable').show();
						$('#divMsg').hide();
						
						var totalValue = 0;
						myMap.forEach((value, key) => {
							formatDate(key);
							totalValue += value;
							$('#tableResults > tbody').append('<tr><td>' + formatDate(key) + '</td>' +
	                                  						  '    <td>R$' + value + '</td>' +
	                                  						  '</tr>');						
						});
						$('#tableResults > tbody').append('<tr><td></td><td>R$'+totalValue+'</td></tr>');
				 	} else {
				 		$('#divTable').hide();
				 		$('#divMsg').show();
				 		$('#divMsg > span').text('Não há histórico de lucros no mês selecionado!');
				 	}	
					
						
				} 
						
				}).fail(function(xhr, status, errorThrown){
					alert("Error: " + xhr.responseText);
				});
    		
    	}
    	
    	function formatDate(date) {
			var dateFormated = date.substring(0,10);
			return dateFormated;
    	}
    	
    </script>
    
</body>
</html>